/*
[rule] {
  property : value ;
}
*/
body, html {
  margin: 0px;
  padding: 0px;
  font-family: helvetica, arial, sans-serif;
}
#top {
  color: gray;
}
#top h1 {
  color: red;
  border-left: 5px solid #0C0;
  border-bottom: 5px solid #C00;
  padding: 10px;
  margin: 10px;
  background: lightgray;
}
#top h1 small {
  color:blue;
}


#sidebar {
  background: yellow;
  width: 30%;
  /*height: 300px;*/
  float: left;
  margin-right: 20px;
}
#content {
  background: yellow;
  float: left;
  width: 65%;
}


#top  .title {
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: #666;
  border-bottom: 1px solid #eee;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.13);
  font-family: 'LeagueGothicRegular', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 5px;
  margin: 0;
  color: #5096cb;
}

#sidebar img {
  width : 90%;
  margin: 5%;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
  border: 1px solid lightgray;
}


footer {
  width: 100%;
  clear:both;
  background: blue;
  padding: 10px;
  text-align: center;
  color: white;
}