/*
[rule]{
	property:value

}
*/

body, html{
	margin: 0px;
	padding: 0px;
	font-family: helvetica, arial, sans-serif;

font-size: 12px;
line-height: 1.3;
font-family: 'source_sans_proregular', arial, sans-serif;
font-weight: normal;
color: #696a6d;
background: #f5f5f5;
min-width: 960px;
-webkit-font-smoothing: antialiased;
}
#top{
	background: lightgray;
	color: red;		
}	
#top h1{ /* overwrites previous code*/
	color: yellow;
	border-bottom: 3px solid teal;
	padding: 10px;
	border-left: 5px solid teal;
	color: #282828
}
#top h1 small {
	color: blue;
}
aside{
	background: yellow;
	width: 30%;
	padding: 10px;
	margin-right: 20px;
}

#sidebar{
	background: yellow;
	width: 200px;
	height: 300px;
	display: inline-block;
	float: left;
	margin-right: 20px;

	box-shadow: 1px 1px 1px black;
}

#content{
	background: lightgreen;
	width: 65%;
	height: 320px;
	float: left;
	margin-right: 20px
}
#sidebar img{
	width: 100%

}
footer{
	width: 100%;
	clear: both;
	background: blue;
	padding: 10px;
	text-align: center;
	color: white;
}

